@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow:
		32px 0 #fff,
		-32px 0 #fff;
	position: relative;
	animation: flash 0.5s ease-out infinite alternate;
}
.p-datatable thead {
  background-color: #3b3737; /* Your desired color */
  color: white; /* Text color */
	border-radius:10px;
}
.p-datatable thead th {
  /* Additional styles for th elements in the thead */
	background-color: #3b3737; 
	color: aliceblue;
}
@keyframes flash {
	0% {
		background-color: #fff2;
		box-shadow:
			32px 0 #fff2,
			-32px 0 #fff;
	}
	50% {
		background-color: #fff;
		box-shadow:
			32px 0 #fff2,
			-32px 0 #fff2;
	}
	100% {
		background-color: #fff2;
		box-shadow:
			32px 0 #fff,
			-32px 0 #fff2;
	}
}
